/* 
.login-button {
    cursor: pointer;
    
  }
  
   .login-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    z-index: 1000;
    color:white;
  }  
  
  .form-container {
    max-width: 100%;
  }
  
  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-bottom: 20px;
    color: aquamarine;
  }
  
   .close-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 18px; 
  }
  
  .close-button:hover {
    color: #666;
  }





  
   */


        














   

 

   .login-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid orange;
    box-shadow: 0 0 10px rgba(0, 0, 0, 30);
    width: 300px;
    z-index: 1000;
   }

   .form-container {
    max-width: 100%;
   }

   .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
   }

   .form-header h2 {
    font-weight: bold;
    margin-top: 0;
   }

   .close-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #666;
   }

   .close-button:hover {
    color: #333;
   }

   .login-form form {
    display: flex;
    flex-direction: column;
   }

   .login-form input[type="email"], .login-form  input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  
   }

   .login-form input[type="email"]:focus, .login-form input[type="password"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

   }

   .login-form button [type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10PX 20PX;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   }
   

   .login-form button [type="submit"]:hover {
    background-color: orange;
   }


   .login-form .register-link, .login-form .login-link {
    text-align: center;
    margin-top: 20px;
    color: #666;
   }

   .login-form .register-link:hover, 
   .login-form .login-link:hover {
    color: #4CAF50;
   }





